{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>login</title>
{% include 'head.html' %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#login").click(function(){
            username=$("input[name='username']").val();
            username=username.replace(/[ ]/g,"");
            if (username=='') {
                alert('经过替换空格，你输入的用户名为空。');
                return;
            }
            password=$("input[name='password']").val();
            password=password.replace(/[ ]/g,"");
            if (password=='') {
                alert('经过替换空格，你输入的密码为空。');
                return ;
            }
            $.ajax({
                type:"post",
                url:"/login",
                data:{
                    username:username,
                    password:password,
                },
                success:function(data){
                    if (data.indexOf('index')!==-1){
                        window.location.href =data;
                    }else{
                        alert(data);
                    }
                     
                },
            })
        });
        $('#regist').click(function(){
            window.location.href ='/regist'
        });
    })
    </script>
</head>
<body>

<div style="width: 1250PX;float:center">

<h1 style="color:black; text-align:center">
    <font face="楷体">欢迎登录&nbsp!</font>
</h1>
    {% csrf_token %}
    <div style="width: 300px;float:right;bottom:0;">
        <div style="float:right">
            用户名：
            <input type="text" name="username">
        </div></br>
        <div style="float:right">
            密码：
            <input type="text" name="password">
        </div></br>
        <div style="float:right">
            <button id="login" class="btn btn-primary">登录</button>
            <button id="regist" class="btn btn-info">注册</button>
        </div>
    </div>
    <div >
        <img src="{% static 'img/tupianForLogin.jpg' %}"  title="rograndec.com"  width="90" height="150" border="4" hspace="20"/>
    </div>
</div>
<!--
     <hr style="width: 100%; float: left;"></br>
     <div   style="text-align:center">
        <p1>Powered by ggc</p1>
     </div>
-->

{% include 'bottom.html' %}

</body>
</html>