{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>node</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">

    <script type="text/javascript"  ></script>
    
    <script src="//upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.9.0.min.js"></script>
 <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
 <!-- 引入 Bootstrap -->
 <link href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
 <style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>
        
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" >
    $(document).ready(function(){
        $("#addbtn").click(function(){
            var a = '\
                <tr>\
                    <td><input id="choice" type="checkbox"/></td>\
                    <td id="nodeId"><input type="text" placeholder="autoAdd"></td>\
                    <td id="nodeEnviroment">\
                        <select>\
                            {% for  enviroment in enviroments %}\
                                <option value="{{ enviroment.name }}">{{ enviroment.name }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="nodeServerRoom">\
                        <select>\
                            {% for  serverRoom in serverRooms %}\
                                <option value="{{ serverRoom.name }}">{{ serverRoom.name }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="nodeProjectSelect">\
                        <select  class="nodeProjectSelect">\
                            {% for  project in projects %}\
                                <option value="{{ project.name }}" >{{ project.name }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="serviceggc">\
                        <select>\
                            {% for  service in services %}\
                                <option value="{{ service.name }}" >{{ service.name }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="nodeNodeNumber"><input type="text"placeholder="mustAdd"></td>\
                    <td id="nodeIp">\
                        <select>\
                            {% for  equipment in equipments %}\
                                <option value="{{ equipment.ipAddress }}">{{ equipment.ipAddress }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="nodePortList"><input type="text"placeholder="autoAdd"></td>\
                    <td id="nodeLogPathList"><input type="text"placeholder="autoAdd"></td>\
                    <td id="nodeBranch"><input type="text"placeholder="add"></td>\
                    <td id="nodeSpringBootStartProfile"><input type="text"placeholder="add"></td>\
                    <td id="nodeMemory"><input type="text"placeholder="add"></td>\
                    <td id="nodeCime"><input type="text"placeholder="autoAdd"></td>\
                </tr>\
                ';
            var romObject=document.createElement('tr');
            
            var checkObject=document.createElement('td');
            checkObject.innerHTML='<input id="choice" type="checkbox">';
            
            var idObject=document.createElement('td');
            idObject.innerHTML='<input type="text" placeholder="autoAdd">';
            idObject.id='nodeId'
            
            var enviromentObject=document.createElement('td');
                enviromentObject.id='nodeEnviroment';
                var selcetObject=document.createElement('select');
                {% for  enviroment in enviroments %}
                    selcetObject.innerHTML+='<option value="{{ enviroment.name }}">{{ enviroment.name }}</option>'
                {% endfor %}
                enviromentObject.append(selcetObject);
                
            var serverRoomObject=document.createElement('td');
                serverRoomObject.id='nodeServerRoom';
                var selcetObject=document.createElement('select');
                {% for  serverRoom in serverRooms %}
                    selcetObject.innerHTML+='<option value="{{ serverRoom.name }}">{{ serverRoom.name }}</option>'
                {% endfor %}
                serverRoomObject.append(selcetObject);
                
            var projectObject=document.createElement('td');
                projectObject.id='nodeProject';
                var selcetObject=document.createElement('select');
                selcetObject.className='nodeProjectSelect';
                {% for  project in projects %}
                    selcetObject.innerHTML+='<option value="{{ project.name }}">{{ project.name }}</option>'
                {% endfor %}
                projectObject.append(selcetObject);
                
            var serviceObject=document.createElement('td');
                serviceObject.id='nodeService';
                var selcetObject=document.createElement('select');
                selcetObject.innerHTML+='<option >请先选择project</option>'
                serviceObject.append(selcetObject);
            
            var nodeNumberObject=document.createElement('td');
                nodeNumberObject.id="nodeNodeNumber"
                nodeNumberObject.innerHTML='<input type="text"placeholder="mustAdd">'
            
            var ipObject=document.createElement('td');
                ipObject.id='nodeIp';
                var selcetObject=document.createElement('select');
                selcetObject.class='nodeIpSelect';
                {% for  equipment in equipments %}
                    selcetObject.innerHTML+='<option value="{{ equipment.ipAddress }}">{{ equipment.ipAddress }}</option>'
                {% endfor %}
                ipObject.append(selcetObject);
            
            var nodePortListObject=document.createElement('td');
                nodePortListObject.id="nodePortList"
                nodePortListObject.innerHTML='<input type="text"placeholder="autoAdd">'
                
            var nodeLogPathListObject=document.createElement('td');
                nodeLogPathListObject.id="nodeLogPathList"
                nodeLogPathListObject.innerHTML='<input type="text"placeholder="autoAdd">'
                
            var nodeBranchObject=document.createElement('td');
                nodeBranchObject.id="nodeLogPathList"
                nodeBranchObject.innerHTML='<input type="text"placeholder="Add">'
                
            var nodeSpringBootStartProfileObject=document.createElement('td');
                nodeSpringBootStartProfileObject.id="nodeSpringBootStartProfile"
                nodeSpringBootStartProfileObject.innerHTML='<input type="text"placeholder="Add">'
                
            var nodeMemoryObject=document.createElement('td');
                nodeMemoryObject.id="nodeMemory"
                nodeMemoryObject.innerHTML='<input type="text"placeholder="Add">'
                
            var nodeCtimeObject=document.createElement('td');
                nodeCtimeObject.id="nodeCtime"
                nodeCtimeObject.innerHTML='<input type="text"placeholder="autoAdd">'
                
            var nodeCountObject=document.createElement('td');
                nodeCountObject.id="nodeCount"
                nodeCountObject.innerHTML='<input type="text"placeholder="autoAdd">'
            
            var needAddArray=[checkObject,idObject,enviromentObject,serverRoomObject,projectObject,serviceObject,nodeNumberObject,ipObject,nodePortListObject,nodeLogPathListObject,nodeBranchObject,nodeSpringBootStartProfileObject,nodeMemoryObject,nodeCtimeObject,nodeCountObject]
            for (i in needAddArray){
                romObject.append(needAddArray[i]);
            }
            
            $("#nodeTable").append(romObject);
            
            $(".nodeProjectSelect").change(function(){
            rowObject=this.parentNode.parentNode;
            projectName=this.value;
            //alert(projectName)
                
            $.ajax({
                type:'POST',
                url:'/selectService',
                data:{
                    //projectName:projectName,
                    AName:projectName,
                    ATable:'ProjectTable',
                    BTable:'ServiceTable',
                    BColmn:'project',
                    
                },
                success:function(response,status,xhr){
                    responseList=response.split('@@')
                    //alert(responseList)
                    //alert(serviceObjectSelect.innerHTML);
                    //alert(rowObject.children[id="serviceggc"])

                    //alert((rowObject.children[id="serviceggc"]).length)
                    //serviceObjectSelect=rowObject.children[id="serviceggc"]
                    //for (i in rowObject.children[id="serviceggc"]){
                    //    alert(i)
                    //}
                    //serviceObjectSelect=rowObject.children[5]
                    serviceObjectSelect=rowObject.children[id="nodeService"];
                    
                    serviceObjectSelect.innerHTML='';
                    var txt3=document.createElement('select');
                    //serviceObjectSelect.append('<select>');           
                    for (i in responseList){
                        //alert(responseList[i])
                        //a='<option value='+responseList[i]+'>'+responseList[i]+'</option>';
                        //serviceObjectSelect.innerHTML+=a;
                        txt3.innerHTML+='<option value="'+responseList[i]+'">'+responseList[i]+'</option>';
                    }
                    serviceObjectSelect.append(txt3);
                    serviceObjectSelect.innerHTML+='</select>';
                    //alert(serviceObjectSelect.innerHTML);
                    },
                    
                });
        });
        });
    
        
        $("#upload").click(function(){
        
            $("input:checked").each(function(i){
                var Array=range(1,13);
                //全局变量的声明如果重复会报错 Array.isArray is not a function
                for (N in Array){
                    tdN='td'+N;
                    tdN=$(this).parents('tr').children().eq(N);
                    if (tdN.children().length==0){
                        //这是update
                        tdN_value=tdN.text();
                    }else{
                        //这是add
                        tdN_value=tdN.children().eq(0).val();
                    }
                    switch (parseInt(N)) {
                        case 1:
                            id_value=tdN_value;
                            break;
                        case 2:
                            enviroment_value=tdN_value;
                            break;
                        case 3:
                            serverRoom_value=tdN_value;
                            break;
                        case 4:
                            project_value=tdN_value;
                            break;
                        case 5:
                            service_value=tdN_value;
                            break;
                        case 6:
                            nodeNumber_value=tdN_value;
                            break;
                        case 7:
                            ip_value=tdN_value;
                            break;
                        case 8:
                            portList_value=tdN_value;
                            //alert(tdN_value);
                            break;
                        case 9:
                            logPathList_value=tdN_value;
                            break;
                        case 10:
                            branch_value=tdN_value;
                            break;
                        case 11:
                            springBootStartProfile_value=tdN_value;
                            break;
                        case 12:
                            memory_value=tdN_value;
                            break;
                        default:
                            //alert('no '+ N);
                    }
                }
                if (nodeNumber_value==""){
                    alert("nodeNumber is not empty.");
                    return
                }
                /*
                usedPortList=[]
                {% for i in ports %}
                    usedPortList.push({{i.portNumber}});
                {% endfor %}
                oldPortList=
                userPortListDelOld
                nowPortList=portList_value.split(',');
                alert(nowPortList.length);
                
                for (i in nowPortList){
                    if (i in usedPortList){
                        alert(i);
                    }
                }
                */
                $.ajax({
                    type:'POST',
                    url:'/node',
                    data:{
                        nodeId:id_value,
                        nodeEnviroment:enviroment_value,
                        nodeServerRoom:serverRoom_value,
                        nodeProject:project_value,
                        nodeService:service_value,
                        nodeNodeNumber:nodeNumber_value,
                        nodeIp:ip_value,
                        nodePortList:portList_value,
                        nodeLogPathList:logPathList_value,
                        nodeBranch:branch_value,
                        nodeSpringBootStartProfile:springBootStartProfile_value,
                        nodeMemory_value:memory_value,
                    },
                    success:function(response,status,xhr){
                        //alert(response);
                    },
                });
                
            });
        });
     
        $("table tr td").dblclick(function(){
             //获取td对象
             var td = $(this);
             //获取td对象的文本内容
             var old_text = td.text();
             //新定义一个input对象，文本内容为原td的文本内容
             var input_obj = $("<input type='text'>").val(old_text);
             td.text("");
             //td对象的文本内容清空
             td.append(input_obj);
             //给td添加新的元素
             //当input对象失去焦点时，的操作
             input_obj.blur(function(){
                 //获取input的val
                 var new_text = $(this).val();
                 //删除input对象
                 $(this).remove();
                 //给td的文本内容加新值，原input的文本内容
                 td.text(new_text);
             });
        });
        
        $("#delbtn").click(function(){
            $("input:checked").each(function(i){
                choiceRow=$(this).parents('tr')
                id_value=choiceRow.children().eq(1).text();
                delSign=confirm('are you sure delete '+choiceRow.children().eq(6).text()+'?')
                logPathList_value=choiceRow.children().eq(9).text();
                
                if (delSign == true){
                    $.ajax({
                        type:'POST',
                        url:'/node',
                        data:{
                            nodeId:id_value,
                            delSign:delSign,
                            nodeLogPathList:logPathList_value,
                        },
                        success:function(response,status,xhr){
                        alert(response);
                        }
                    });}
                else{
                    return
                }
                
                choiceRow.remove();
            });
        });
        $("#do").click(function(){
            $("input:checked").each(function(i){
                //var eventId=timeNow();
                var Array=range(1,11);
                //全局变量的声明如果重复会报错 Array.isArray is not a function
                for (N in Array){
                    tdN='td'+N;
                    tdN=$(this).parents('tr').children().eq(N);
                    if (tdN.children().length==0){
                        //这是update
                        tdN_value=tdN.text();
                    }else{
                        //这是add
                        tdN_value=tdN.children().eq(0).val();
                    }
                    
                    switch (parseInt(N)) {
                        case 1:
                            id_value=tdN_value;
                            break;
                        case 2:
                            enviroment_value=tdN_value;
                            break;
                        case 3:
                            serverRoom_value=tdN_value;
                            break;
                        case 4:
                            project_value=tdN_value;
                            break;
                        case 5:
                            service_value=tdN_value;
                            break;
                        case 6:
                            nodeNumber_value=tdN_value;
                            break;
                        case 7:
                            ip_value=tdN_value;
                            break;
                        case 8:
                            portList_value=tdN_value;
                            break;
                        case 9:
                            logPathList_value=tdN_value;
                            break;
                        case 10:
                            branch_value=tdN_value;
                            break;
                        default:
                            //alert('no '+ N);
                    }
                }
                if (nodeNumber_value==""){
                    alert("nodeNumber is not empty.");
                    return
                }
            //alert(ip_value+':'+(portList_value.split(','))[0]+' '+enviroment_value+'-'+serverRoom_value+'-'+project_value+'-'+service_value+' installing');
            $.ajax({
                type:'POST',
                url:'/do',
                data:{
                    nodeId:id_value,
                    nodeEnviroment:enviroment_value,
                    nodeServerRoom:serverRoom_value,
                    nodeProject:project_value,
                    nodeService:service_value,
                    nodeNodeNumber:nodeNumber_value,
                    nodeIp:ip_value,
                    nodePortList:portList_value,
                    nodeLogPathList:logPathList_value,
                    nodeBranch:branch_value,
                    //eventId:eventId,
                },
                success:function(response,status,xhr){
                    alert(response);
                    }
                });
            });
        });
        $("#viewDeployLog").click(function(){
            $("input:checked").each(function(i){
                var Array=range(1,2);
                //全局变量的声明如果重复会报错 Array.isArray is not a function
                for (N in Array){
                    tdN='td'+N;
                    tdN=$(this).parents('tr').children().eq(N);
                    if (tdN.children().length==0){
                        //这是update
                        tdN_value=tdN.text();
                    }else{
                        //这是add
                        tdN_value=tdN.children().eq(0).val();
                    }
                    
                    switch (parseInt(N)) {
                        case 1:
                            id_value=tdN_value;
                            break;
                        default:
                            //alert('no '+ N);
                    }
                }
                window.open("/viewDeployLog_nodeId_"+id_value);
                /*
                $.ajax({
                type:'POST',
                url:'/viewDeployLog',
                data:{
                    nodeId:id_value,
                },
                success:function(response,status,xhr){
                    alert(response);
                    }
                });
                */
            });
        });
        $(".nodeProjectSelect").click(function(){
            rowObject=this.parentNode.parentNode;
            serviceObject=rowObject.children;
            //alert(this.parentNode.parentNode.innerHTML);
            serviceObjectSelect=serviceObject.service.children[0]
            //alert((rowObject.children)[0].innerHTML);
            
            //for (i in serviceObjectSelect){
            //    alert(i+":"+serviceObjectSelect[i])
            //}
                
            projectName=this.value;
            $.ajax({
                type:'POST',
                url:'/selectService',
                data:{
                    //projectName:projectName,
                    AName:projectName,
                    ATable:'ProjectTable',
                    BTable:'ServiceTable',
                    BColmn:'project',
                    
                },
                success:function(response,status,xhr){
                    responseList=response.split('@@')
                    //alert(serviceObjectSelect.innerHTML);
                    serviceObjectSelect.innerHTML='';
                    serviceObjectSelect.innerHTML+='<select>';;           
                    for (i in responseList){
                        a='<option value="'+responseList[i]+'">'+responseList[i]+'</option>';
                        serviceObjectSelect.innerHTML+=a;
                    }
                    serviceObjectSelect.innerHTML+='</select>';
                    //alert(serviceObjectSelect.innerHTML);
                    },
                    
                });
        });
        $(".branch").click(
            function(){
                rowObject=this.parentNode
                nodeId=rowObject.children.id
                alert(nodeId.innerHTML)
            }
        );
});
       
    
    </script>
    
  </head>
  <body>
    <a href="/logout"><input type="button" value="{{user.username}}登出" class="btn btn-success" style="float:right"></a>
    <button id="addbtn" >表格加一行</button>
    <button id="delbtn" >表格减一行</button>
    <button id="upload" >save</button>
    <button id="do" >deploy</button>
    <button id="viewDeployLog" >viewDeployLog</button>
    <table border=1 cellspacing="0" >
        <tr>
            <th>0</th>
            <th>id</th>
            <th>enviroment</th>
            <th>serverRoom</th>
            <th>project</th>
            <th>service</th>
            <th>nodeNumber</th>
            <th>ip</th>
            <th>portList</th>
            <th>logPathList</th>
            <th>branch</th>
            <th>springBootStartProfile</th>
            <th>memory</th>
            <th>ctime</th>
            <th>count</th>
        </tr>
        <tbody id="nodeTable">
            {% for node in nodes %}
            <tr>
                <td><input type="checkbox"></td>
                <td id='id'>{{ node.id }}</td>
                <td>
                    <select>
                        {% for enviroment in enviroments  %}
                            <option value="{{ enviroment.name }}"
                                {% if enviroment.name == node.enviroment.name %}
                                    selected="selected"
                                {% endif %}
                            >{{ enviroment.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        {% for serverRoom in serverRooms  %}
                            <option value="{{ serverRoom.name }}"
                                {% if serverRoom.name == node.serverRoom.name %}
                                    selected="selected"
                                {% endif %}
                            >{{ serverRoom.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class='nodeProjectSelect'>
                        {% for project in projects  %}
                            <option value="{{ project.name }}"
                                {% if project.name == node.project.name %}
                                    selected="selected"
                                {% endif %}
                            >{{ project.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td id='service'>
                    <select>
                        {% for service in services  %}
                            <option value="{{ service.name }}"
                                {% if service.name == node.service.name %}
                                    selected="selected"
                                {% endif %}
                            >{{ service.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ node.nodeNumber }}</td>
                <td>
                    <select>
                        {% for equipment in equipments  %}
                            <option value="{{ equipment.ipAddress }}"
                                {% if equipment.ipAddress == node.ip.ipAddress %}
                                    selected="selected"
                                {% endif %}
                            >{{ equipment.ipAddress}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ node.portList }}</td>
                <td>{{ node.logPathList }}</td>
                <td class='branch'>{{ node.branch }}</td>
    
                <td>{{ node.springBootStartProfile }}</td>
                <td>{{ node.memory}}</td>
                <td>{{ node.ctime}}</td>
                <td>{{ forloop.counter }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 </body>
<html>