<html>
<head>
    <title>index</title>
{% include 'head.html' %}
</head>
<body>
    <!-- {%for student in students_list%}
      {{student.sname}}--{{student.sage}}
      <br>
    {%endfor%} -->

    <span     class="text-right">{{user.username}}</span> | 
    <a href="/logout"><input type="button" value="登出" class="btn btn-success" style="float:right"></a>

    <h1 align="center">
        <font face="楷体">这是一个index页面</font>
    </h1>
    <div style="float:right">
        <div style="padding:10px;heigh:300px;background-color:green;color:white;font-size:20px;float:right">
                <p>{{user.username}}<button class="btn btn-success" id='logout'>登出</button></p1>
        </div>
    </div>
    <font style="size:'6';color:red;" >cmdb.ggc.com</font>
    <font style="color:red;" size="6" face="隶书">cmdb.ggc.com</font> 
     <ins>\/</ins>
     x<sup>2</sup>+y<sub>2</sub>=?
     <h1><font color="green">欢迎回来</font></h1>
     <ol>
<li>电影</li>
<li>电视剧</li>
</ol>
<dl>
<dt>电脑</dt>
<dd>台式机 笔记本 平板电脑</dd>
<dt>手机</dt>
<dd>苹果 华为 中兴</dd>
</dl>
你&nbsp;好 空格<br/>
版权符 <font face="Arial">&copy;</font><br/>
<font color="red">&lt你好&gt</font>
 &yen;
  </body>
</html>