{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>regist</title>
    {% include 'head.html' %}
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#regist").click(function(){
                username=$("input[name='username']").val();
                username=username.replace(/[ ]/g,"");
                if (username=='') {
                    alert('经过替换空格，你输入的用户名为空。');
                    return;
                }
                password=$("input[name='password']").val();
                password=password.replace(/[ ]/g,"");
                if (password=='') {
                    alert('经过替换空格，你输入的密码为空。');
                    return ;
                }
                password2=$("input[name='password2']").val();
                password2=password2.replace(/[ ]/g,"");
                if (password!==password2){
                    alert('两次密码输入不同');
                    return ;
                }
                $.ajax({
                    type:"post",
                    url:"/regist",
                    data:{
                        username:username,
                        password:password,
                    },
                    success:function(data){
                        if (data.indexOf('index')!==-1){
                            window.location.href =data;
                        }else{
                            alert(data);
                        }
                    },
                });
            });
        })


    </script>
</head>
<body>
    <!-- {%for student in students_list%}
      {{student.sname}}--{{student.sage}}
      <br>
    {%endfor%} -->
    
    <div style="width: 1250PX;float:center">
<h1 style="color:black; text-align:center">

    <font face="楷体">欢迎注册&nbsp!</font>
</h1>
    {% csrf_token %}
    <div style="width: 300px;float:right;bottom:0;">
        <div style="float:right">
            用户名：
            <input type="text" name="username">
        </div></br>
        <div style="float:right">
            密码：
            <input type="text" name="password">
        </div></br>
        <div style="float:right">
        确认密码：
        <input type="text" name="password2">
        </div></br>
        <div style="float:right">
            <button id="regist" class="btn btn-success">提交</button>
        </div>
    </div>
    <div >
        <img src="{% static 'img/tupianForLogin.jpg' %}"  title="rograndec.com"  width="900" height="150" border="100"/>
    </div>
</div>
{% include 'bottom.html' %}

  </body>
</html>