<!DOCTYPE html>
<html>
  <head>
    <title>serverRoom</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">

    <script type="text/javascript"  ></script>
        
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" >

    $(document).ready(function(){
        $("#addbtn").click(function(){
            var a = '\
                <tr>\
                    <td><input id="choice" type="checkbox"/></td>\
                    <td id="serverRoomId"><input type="text" placeholder="autoAdd"></td>\
                    <td id="serverRoomCompany">\
                        <select>\
                            {% for  company in companies %}\
                                <option value="{{ company.fullName }}">{{ company.fullName }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="serverRoomName"><input type="text" placeholder="must input"></td>\
                    <td id="serverRoomProvider">\
                        <select>\
                            {% for  provider in providers %}\
                                <option value="{{ provider.name }}">{{ provider.name }}</option>\
                            {% endfor %}\
                        </select>\
                    </td>\
                    <td id="serverRoomContacts"><input type="text" placeholder="input"></td>\
                    <td id="serverRoomTelephone"><input type="text" placeholder="input"></td>\
                    <td id="serverRoomEmail"><input type="text" placeholder="input"></td>\
                    <td id="serverRoomAddress"><input type="text" placeholder="input"></td>\
                    <td id="serverRoomWebSite"><input type="text" placeholder="input"></td>\
                    <td id="serverRoomCime"><input type="text"placeholder="autoAdd"></td>\
                </tr>\
                ';
                $("#serverRoomTable").append(a);        
        });
    
        
        $("#upload").click(function(){
        
            $("input:checked").each(function(i){

                var Array=range(1,10);
                //全局变量的声明如果重复会报错 Array.isArray is not a function
                for (N in Array){
                    tdN='td'+N;
                    tdN=$(this).parents('tr').children().eq(N);
                    if (tdN.children().length==0){
                        //这是update
                        tdN_value=tdN.text();
                    }else{
                        //这是add
                        tdN_value=tdN.children().eq(0).val();
                    }

                    switch (parseInt(N)) {
                        case 1:
                            id_value=tdN_value;
                            break;
                        case 2:
                            company_value=tdN_value;
                            break;
                        case 3:
                            name_value=tdN_value;
                            break;
                        case 4:
                            provider_value=tdN_value;
                            break;
                        case 5:
                            contacts_value=tdN_value;
                            break;
                        case 6:
                            telephone_value=tdN_value;
                            break;
                        case 7:
                            email_value=tdN_value;
                            break;
                        case 8:
                            address_value=tdN_value;
                            break;
                        case 9:
                            website_value=tdN_value;
                            break;
                        default:
                            alert('no '+ N);
                    }
                }

                if (name_value==""){
                    alert("name is not empty.");
                    return
                }
                
                $.ajax({
                    type:'POST',
                    url:'/serverroom',
                    data:{
                    
                        serverRoomId:id_value,
                        serverRoomName:name_value,
                        serverRoomProvider:provider_value,
                        serverRoomCompany:company_value,
                        serverRoomContacts:contacts_value,
                        serverRoomTelephone:telephone_value,
                        serverRoomEmail:email_value,
                        serverRoomAddress:address_value,
                        serverRoomWebsite:website_value,
                        
                    },
                    success:function(response,status,xhr){
                        alert(response);
                    },
                });
                
            });
        });
     
        $("table tr td").dblclick(function(){
             //获取td对象
             var td = $(this);
             //获取td对象的文本内容
             var old_text = td.text();
             //新定义一个input对象，文本内容为原td的文本内容
             var input_obj = $("<input type='text'>").val(old_text);
             td.text("");
             //td对象的文本内容清空
             td.append(input_obj);
             //给td添加新的元素
             //当input对象失去焦点时，的操作
             input_obj.blur(function(){
                 //获取input的val
                 var new_text = $(this).val();
                 //删除input对象
                 $(this).remove();
                 //给td的文本内容加新值，原input的文本内容
                 td.text(new_text);
             });
        });
        

        $("#delbtn").click(function(){
            $("input:checked").each(function(i){
                choiceRow=$(this).parents('tr')
                id_value=choiceRow.children().eq(1).text();
                delSign=confirm('are you sure delete '+choiceRow.children().eq(3).text()+'?')
                
                if (delSign == true){
                    $.ajax({
                        type:'POST',
                        url:'/serverroom',
                        data:{
                            serverRoomId:id_value,
                            delSign:delSign,
                        },
                        success:function(response,status,xhr){
                        alert(response);
                        }
                    });}
                else{
                    return
                }
                
                choiceRow.remove();
            });
        });
    });

       
    
    </script>
    
  </head>
  <body>
    <button id="addbtn" >表格加一行</button>
    <button id="delbtn" >表格减一行</button>
    <button id="upload" >提交</button>
    <table border=1 cellspacing="0" id="serverRoomTable">
        <tr>
            <th>0</th>
            <th>id</th>
            <th>company</th>
            <th>name</th>
            <th>provider</th>
            <th>contacts</th>
            <th>telephone</th>
            <th>email</th>
            <th>address</th>
            <th>website</th>
            <th>ctime</th>
        </tr>
        {% for serverRoom in serverRooms %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ serverRoom.id }}</td>
            <td>
                <select>
                    {% for  company in companies %}
                        <option value="{{ company.fullName }}"
                            {% if company.fullName == serverRoom.company.fullName %}
                                selected="selected"
                            {% endif %}
                        >{{ company.fullName }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>{{ serverRoom.name }}</td>
            <td>
                <select>
                    {% for  provider in providers %}
                        <option value="{{ provider.name }}"
                            {% if provider.name == serverRoom.provider.name %}
                                selected="selected"
                            {% endif %}
                        >{{ provider.name }}</option>
                    {% endfor %}
                </select>
            </td>            
            <td>{{ serverRoom.contacts }}</td>
            <td>{{ serverRoom.telephone }}</td>
            <td>{{ serverRoom.email }}</td>
            <td>{{ serverRoom.address }}</td>
            <td>{{ serverRoom.website }}</td>
            <td>{{ serverRoom.ctime }}</td>
        </tr>
        {% endfor %}
    </table>

 </body>
<html>